#!/usr/bin/env bash
AZURE_FILE_STORAGE_URL="https://:yourAccount.file.core.windows.net"

AZURE_STORAGE_CONNECTION_STRING="<your connection string>"
#                                                      key=value         key=value      key=value                key=value
#AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=aaa;AccountKey=AKAK/akak;EndpointSuffix=core.windows.net"
